<div class="box-i">
  <div>
	<h3> En Gamo Vios - Personal Blog</h3>
	
	<em> in Greek </em>
	   <p><%= link_to "En Gamo Vios(Εν Γάμω Βίος)", "http://engamovios.com"%> is my personal blog, in which I write about children, marriage, career, goals, life and anything that springs to mind. I sometimes host texts and pictures painted by my friend Christina. </p>
   	<p> There's also an extended recipe index. Enjoy! </p>
     
		<%= image_tag "leaves.jpg", :class => "fullwidth"  %>
	
   </div>
</div>

