<div class="box-i">
	<h3> En Gamo Vios- Personal Blog</h3>
	
	<em> in Greek </em>
	
	<p><%= link_to "En Gamo Vios/Εν Γάμω Βίος", "http://engamovios.com"%> is my personal blog, in which I write about everyday life, children, marriage, career, goals, and pretty much anything that springs to my mind. I sometimes also host texts and images painted by my friend Christina. </p>
	<p> I also present recipes, so if you can read greek and like cooking and baking, take a look! </p>
	
	<div class='row'>
		<div class='col-xs-12'>
			<%= image_tag "leaves.jpg" %>
	  </div>
	</div>
	
</div>

