<div class="box-i">
	<h3> Griechische Küche</h3>
	
		<em> in German</em>
		<p>I'm an enthusiastic food blogger. I love cooking and presenting traditional greek dishes - and sometimes also my own creations - to the german food blogging community. I take pictures of my dishes using my old Nikon D40 camera with a Sigma 30mm f/1.4 lens. 		</p>
		<p> If you speak German and would like to try some greek recipes, you can visit <%= link_to "Griechische Küche", "http://griechischekueche.com"%>. There are lots of vegetarian and vegan dishes too!
		</p>
	
	<div class='row gallery'>
		<div class="col-xs-4">
			<%= link_to image_tag("grk1.jpg"), "http://griechischekueche.com/2013/12/15/melomakarona/" %>
		</div>
		
		<div class='col-xs-4'>
			 <%= link_to image_tag("grk2.jpg"), "http://griechischekueche.com/2015/01/10/zitroniges-ofenhahnchen-kotopulo-lemonato-sto-furno/" %>
		</div>
		
		<div class='col-xs-4'>
			<%= link_to image_tag("grk3.jpg"), "http://griechischekueche.com/vegan/" %>
		</div>
	</div> <!-- row -->
	
	<p class='right'><em> Click on the photos to get the recipes!</em> </p>

</div> <!--box-i-->