  <div class='box-left'>
    <p>I enjoy cooking and baking. You can see my recipes in my blogs!</p>
  </div>
  
  <div class='box-right'>
    <p>I enjoy cooking and baking. You can see my recipes in my blogs!</p>
  </div>
  
