<div class="box-i contain">
  <div class='box-left'>
    <p>I enjoy cooking and baking. You can see my recipes in my blogs! I cook and bake from scratch, and I'm used to baking my own bread.</p>
  </div>
  
  <div class='box-right'>
    <p>I enjoy TV series, and some of my favourites are "How I met your mother", "House" and "NCIS".</p>
  </div>
	
	<div class='box-left'>
		<p>I like gardening and this year I'll try to grow as many vegetables as possible in my small garden.</p>
	</div>
	
</div>

