	<div class="box-i">
		<%= image_tag "ioanna.jpg"%>
		<h3> Dr. Ioanna Arka </h3>
		<div class="short">
			 		<p> I'm a trainee web developer at <a href="http://conlance.de">conlance GmbH</a>. </p> 
          <p> I'm also into web-design - why buy a template when it's so much fun designing a website?
          </p>      

			 		<p>I'm also a physicist holding a doctorate in Theoretical Astrophysics. However, the nomadic life of the early-career researcher was not my thing, so I settled down with my family in the Munich area.</p>
					<p>I'm an all-around mom of two lively and opinionated preschoolers.</p>
					<p>I'm also a passionate <a href="http://griechischekueche.com">cook and baker</a> and a dedicated <a href="http://lowcarbdeutschland.wordpress.com">food blogger</a>.</p>
			
				
		</div> 
	</div>
					
