	<div class="box-i">
		<%= image_tag "ioanna.jpg"%>
		<h3> Dr. Ioanna Arka </h3>
		<div class="short">
			 		<p> I'm a trainee web developer at <a href="http://conlance.de">conlance GmbH</a>. I'm learning Ruby on Rails, Javascript and other interesting stuff and I'm also developing a taste for web design. </p>     

			 		<p>I'm also a physicist holding a doctorate in Theoretical Astrophysics. I worked in Heidelberg, Germany and Grenoble, France before deciding to settle down with my family in a small town close to Munich.</p>
					<p>I'm an all-around mom of two lively and opinionated preschoolers.</p>
					<p>I'm also a passionate <a href="http://griechischekueche.com">cook and baker</a> and a dedicated <a href="http://lowcarbdeutschland.wordpress.com">food blogger</a>.</p>
			
				
		</div> 
	</div>
					
