<div class="box-i">
  <%= image_tag "JfA.jpg" %>
  
	<h3> The Jobs for Astronomers Initiative </h3>
	<div class="short">
		
		
		<p><a href="http://jobsforastronomers.com">Jobs for Astronomers</a> is an initiative, the purpose of which is to provide information on non-academic career paths for astronomers and astrophysicists. </p>
			<p> <a href="http://jobsforastronomers.com">Jobs for Astronomers</a> came to life in 2012 as a response to the lack of guidance and support that many astronomers and astrophysicists experience when deciding to switch career paths from academic to non-academic. </p> 
	
	  <p>The dearth of permanent contracts and tenure-track positions in science, and the increasing number of PhD and post-doc positions, as well as the constant need of moving to find new jobs, make many researchers consider alternative career paths. <a href="http://jobsforastronomers.com">Jobs for Astronomers</a> is here to help researchers make a choice between different fields according to their experience and inclination. </p>
  </div>
</div>