<div class="box-i">
	<h3> Low Carb Deutschland</h3>
	
		<em> in German </em>
		<p> In <%= link_to "Low Carb Deutschland", "http://lowcarbdeutschland.com"%> you can find tasty, healthy and easy low-carb recipes. Check it out!
		</p>
			
			<%= link_to image_tag("lcd1.jpg"), "http://lowcarbdeutschland.com/2014/11/17/spiegeleier-mit-tomaten-und-feta/" %>
		
			 <%= link_to image_tag("lcd2.jpg"), "http://lowcarbdeutschland.com/2014/07/23/3-minuten-mikrowellen-himbeer-cheesecake/" %>
		
			<%= link_to image_tag("lcd3.jpg"), "http://lowcarbdeutschland.com/2014/07/20/erfrischender-sommersalat/" %>
	<p class='right'><em> Click on the photos to get the recipes!</em> </p>
	
</div> <!--box-i-->