<div class='box-i'>
  
  <h4> Languages </h4>
  <div>
    <ul class='short'>
      <li> Greek, Native proficiency. </li>
      <li> English, Professional working proficiency. </li>
      <li> German, Full professional proficiency. </li>
      <li> Swedish, Elementary proficiency. </li>
    </ul>  
  
  <h4> Additional Skills</h4>
  <ul class='short'>
  <li> <b> Public speaking</b>: talks and seminars given at several conferences, meetings and scientific institutes (<%=link_to 'click here', talks_seminars_path%> for full list). </li>
  <li> <b>Scientific writing</b>: author or co-author of several scientific articles (<%= link_to 'click here', articles_path%> for full list). </li>
</ul>
</div>
