<div class='box-i'>
  <h3> Teaching Experience </h3>
    <table class='work'>
      <tr>
        <td class='cvleft'> 2009 - 2010</td>
        <td class='cvright'> Teaching Assistang in Electrodynamics Bachelor Course, <%= link_to 'University of Heidelberg', 'http://www.uni-heidelberg.de/index_e.html'%>.</td>
      </tr>
      <tr> 
        <td class='cvleft'> 2006 - 2007</td>
        <td class='cvright'> Teaching Assistant in Electrodynamics Labs, <%= link_to 'University of Athens', 'http://uoa.gr'%>.</td>
      </tr>
      <tr> 
        <td class='cvleft'> 2006 </td>
        <td class='cvright'>Teaching Assistant in Astronomy Labs, <%= link_to 'University of Athens', 'http://uoa.gr'%>. </td>
      </tr>
      <tr> 
        <td class='cvleft bottom'> 2006 </td>
        <td class='cvright bottom'> Teaching Assistant in Thermodynamics Labs, <%= link_to 'University of Athens', 'http://uoa.gr'%>.</td>
      </tr>
    </table>
</div>