<div class="box-i">
  <h3> Work Experience & Training </h3>
  <table class="work">
    <tr>
      <td class='cvleft'>  Dec 2014 - present </td>
      <td class='cvright'>  Trainee web developer at <%= link_to "conlance GmbH", "http://www.conlance.de" %>, Augsburg </td>
    </tr>
    <tr>
      <td class='cvleft bottom'>  Sep 2011 - Jan 2013 </td>
      <td class='cvright bottom'> Post-doctoral researcher at <%= link_to "Institut de Planétologie et d’Astrophysique de Grenoble", "http://ipag.osug.fr/?lang=en" %> </td>
    </tr>
  </table>
</div>