<div class="box-i">
  <h3> Work Experience & Training </h3>
  <table class="work">
    <tr>
      <td> Sep 2011 - Jan 2013</td>
      <td> Post-doctoral researcher at <%= link_to "Institut de Planétologie et d’Astrophysique de Grenoble", "http://ipag.osug.fr/?lang=en" %> </td>
    </tr>
    <tr>
      <td> Dec 2014 - present </td>
      <td> Trainee web developer at <%= link_to "conlance GmbH", "http://www.conlance.de" %></td>
    </tr>
  </table>
</div>