// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
}

table.work {
  margin-top: 4%;
  width: 100%;
}

td {
  width: 40%;
  border-bottom: #b0c4de 1px dotted;
}
.cvleft {
  text-align: right;
  padding:  2%;
}
.cvright {
  line-height: 2em;
  text-align: right;
  padding: 2%;
  border-left: #b0c4de 1px dotted;
}
.bottom {
  border-bottom: none;
}

li { 
  list-style-type: circle;
  list-style-position: inside;
  
}

ul.short { 
  width: 80%;
  padding-left: 15%;
  line-height: 2em;
  text-align: justify;
}
ul.short li {
  list-style-position: outside;
}

div img {
  vertical-align: top;
  float: right;
  border-radius: 5%;
  margin: 1.5%;
	width: 30%;
}
.fullwidth {
  float: none;
  margin: auto;
  width: 100%;
}

div.short {
  max-width: 65%;
  line-height: 1.5em;
}

h3{
  padding: 2%;
  background: white;
}

h3 {
  line-height: 2em;
}

body {
	padding-top: 70px; 
  padding-bottom: 60px;
}

.right {
	padding-top: 5px;
	text-align: right;
}

div p {
  line-height: 160%;
	padding-top: 10px;
	text-align: justify;
}

.box-i {
	max-width: 700px; 
  border-radius: 1%;
	margin: auto;
  padding: 0 0 100% 0;  
	background: rgba(255,255,255,0.4);
	padding: 10px 10px 10px 10px;
}

[class^="famfamfam-flag"] {
  display: inline-block;
  width: 16px;
  height: 11px;
  line-height: 11px;
  /* vertical-align: text-top; */
  background-image: url("famfamfam-flags.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.famfamfam-flag-de { background-position: -160px -166px; width: 16px; height: 11px; }
.famfamfam-flag-gr { background-position: -32px -155px; width: 16px; height: 11px; }

body {font-family: monospace;}
